%br
.row.panel
  .large-12
    %h2.text-center Tecnobest is more than you imagine, is complete!
  .large-8.columns
    %p.text-justify
      Tecnobest is join of the best developers and designers that can 
      make awesome projects in diversificated areas, working mainly 
      with web development exploring the maximum of inovations and 
      tools...
    -#= link_to "Read More", "#", :class => "button"
  .large-4.columns
    %p.text-justify
      We chief car is the development using Ruby on Rails, 
      that allows a fast and trusteable development...
    -#= link_to "Read More", "#", :class => "button"
.end
.row
  %h2 See some tecnobest apps...
  %hr
  .large-4.columns
    %h2 TecnoBet
    %p.text-justify
      This is just a example of we can do!!!
      in here you know how works desktop factory...
    = link_to "Read More", "#", :class => "button"
  .large-4.columns
    %h2 TecnoFootball
    %p.text-justify
      This is just a example of we can do!!!
      in here you know how works mobile factory...
    = link_to "Read More", "#", :class => "button"
  .large-4.columns
    %h2 TecnoNew
    %p.text-justify
      This is just a example of we can do!!!
      in here you know how works mobile factory...
    = link_to "Read More", "#", :class => "button"
.end




































